<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.firat.hatirlatici"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- başka uygulama üzerinde pencere oluşturma izni --> 
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!-- telefon başlatıldığında servisi başlatacak receiver java dosyasını çalıştırma izni -->

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.firat.hatirlatici.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.firat.hatirlatici.Birthday"
            android:label="@string/title_activity_birthday" >
        </activity>
        <activity
            android:name="com.firat.hatirlatici.Ayarlar"
            android:label="@string/title_activity_ayarlar" >
        </activity>
        <activity
            android:name="com.firat.hatirlatici.Ayarlar"
            android:label="@string/title_activity_ayarlar" >
        </activity>

        <service android:name="Servis" >
        </service>

        <receiver android:name="ReceiverServis" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>